@import url("https://fonts.google.com/specimen/Be+Vietnam+Pro");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  height: 14rem;
  width: 100%;
  background-image: url(assets/hero-image-github-profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
}

.header__search-bar {
  max-width: 80%;
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 15px;
  border-radius: 5px;
  background-color: #20293a;
}

.header__search-bar-icon {
  width: 1rem;
  height: 1rem;
}

.header__search-bar-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #4a5567;
  font-size: 16px;
  padding-block: 5px;
}

.header__search-bar-input::placeholder {
  color: #4a5567;
  font-size: 16px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #20293a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 40px;
  flex: 1;
}

.container__user-details {
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.container__user-details-image {
  position: relative;
  padding: 5px;
  top: -3rem;
  width: 8rem;
  height: 8rem;
  border-radius: 5px;
  background-color: #20293a;
}

.container__user-details-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.container__user-details-info-item {
  position: relative;
  list-style: none;
  padding: 10px;
  background-color: #111729;
  border-radius: 5px;
  color: #4a5567;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.container__user-details-info-item-label::after {
  content: "";
  top: 0;
  bottom: 0;
  height: 75%;
  margin: auto 10px;
  width: 1px;
  background-color: #4a5567;
  position: absolute;
}

.container__user-details-info-item-value {
  color: #cdd5e0;
  margin-left: 10px;
}

.container__user-repos {
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container__user-repos-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
}

.container__user-repos-header-username {
  font-size: 2rem;
  color: #cdd5e0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
}

.container__user-repos-header-description {
  font-size: 12px;
  color: #4a5567;
  font-family: "Be Vietnam Pro", sans-serif;
}

.container__user-repos-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  gap: 1rem;
}

.container__user-repos-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: linear-gradient(to right, #111729, #1d1b48);
  border-radius: 5px;
  justify-content: space-between;
  min-height: 125px;
  transition: all 0.2s ease;
}
.container__user-repos-list-item:hover {
  opacity: 0.7;
}
.container__user-repos-list-item-title {
  color: #cdd5e0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container__user-repos-list-item-description {
  color: #4a5567;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.container__user-repos-list-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.container__user-repos-list-item-footer span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: #97a3b6;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.container__user-repos-list-item-footer span > img {
  width: 1rem;
  height: 1rem;
}

.container__user-repos-button {
  text-align: center;
  border: none;
  background-color: transparent;
  color: #cdd5e0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  padding-block: 1.5rem;
}

.container__user-repos-button:hover {
  color: #4a5567;
}

@media (min-width: 768px) {
  .header {
    height: 20rem;
  }
  .header__search-bar {
    margin-top: 3rem;
    max-width: 450px;
  }
  .header__search-bar-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__search-bar-input {
    padding-block: 12px;
    font-size: 16px;
  }
  .header__search-bar-input::placeholder {
    font-size: 16px;
  }
  .container__user-details {
    max-width: 1024px;
  }
  .container__user-details-image {
    width: 12rem;
    height: 12rem;
  }
  .container__user-details-info {
    padding: 2rem;
    align-items: center;
    flex-direction: row;
  }
  .container__user-details-info-item {
    padding: 15px;
    font-size: 16px;
  }
  .container__user-repos {
    max-width: 1024px;
    gap: 3rem;
    margin: 0 auto;
  }
  .container__user-repos-header-description {
    font-size: 14px;
  }
  .container__user-repos-header-username {
    font-size: 48px;
  }
  .container__user-repos-list {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container__user-repos-list-item-description {
    font-size: 16px;
  }
  .container__user-repos-list-item-title {
    font-size: 18px;
  }
}
